{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block body %}

  
    <div class="container my-3 mx-10" id="wrapper3">
        <div class="jumbotron text-white"
            style=" background-color: white ; " >
            <div>
        </div style="color: green; ">
        <h1 style="color:snow;"><span style="background-color: rgb(157, 94, 189); box-shadow: 5px 5px 5px rgb(225, 182, 246);
            background-image: linear-gradient(to right, rgb(157, 94, 189)0%, rgb(157, 94, 189) 100%);">
            About Us: </span></h1>

        <p id = "ppp" style="color:snow; padding-top:30px; font-size: 20px; padding-bottom:30px; font-style:oblique ;">
            <span style="background-color: rgb(157, 94, 189); box-shadow: 5px 5px 5px rgb(225, 182, 246);
        background-image: linear-gradient(to right, rgb(157, 94, 189)0%, rgb(157, 94, 189) 100%);">
            """ THE MISSION OF NewsInfo IS TO ENCOUNTER WRONG NEWS FROM SOCIAL MEDIA THROUGH
            REFERENCES IN ENGLISH !
            MISSION, VISION
            VISION
            PTV shall be the leading news and public information channel in the country.
            MISSION
            We shall inform, inspire, and empower our people and nation through relevant, trustworthy, and world-class quality television programs and services.
            CORE VALUES
            Professionalism, Integrity, Commitment, and Dedication Teamwork, Innovation, and Service, Excellence Value for God, Country and People """
        
        </span>
        </p>
        </div>
        </div>
        

            <div style="clear:both"></div>
    </div>   
    
    <style>
        #abc {
            color: rgb(17, 161, 218);
            font-family: "Georgia";
            font-style: italic;
        }

        #abc1 {
            color: rgb(17, 161, 218);
            font-family: "Georgia";
            font-style: italic;
        }

        .img-fluid {
            max-width: 110%;
            height: 600px;
        }
    </style>

  
{% endblock body %}
