{% extends 'base.html' %}

{% block title %} Archive_Page {% endblock title %}

{% block body %}
    
    <div class="container my-3" id="wrapper3">
        <h2 style="color: rgb(157, 94, 189);">{{month}} - {{year}}</h2>
        {% for post in all_Post%}


        <div class="row no-gutters border rounded overflow-hidden flex-md-row my-3 h-md-250 position-relative"
            style=" box-shadow: 9px 9px 9px rgb(225, 182, 246); border:0px rgb(157, 94, 189) ; outline-style: outset; outline-color: rgb(157, 94, 189); background-color: snow ; ">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2" style="color:indigo" >Article by {{post.author}}</strong>
                <h3 class="mb-0" style="color:rgb(157, 94, 189)";>{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.datetime}}</div>
                <p class="card-text mb-auto" style="color: grey;">{{post.brief| truncatechars:450 | safe}} </p>
                <div class="my-1"><a href="/blog/{{post.slug}}/" role="button" class="btn btn-light" style="color: snow; background-color: rgb(157, 94, 189); font-weight: 500;">Continue
                    reading</a>
                </div>

            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock body %}
