{% extends 'base.html' %}

{% block title %} Books {% endblock title %}
{% block body %}


    <div>
        <h2 style="color: rgb(157, 94, 189); padding-left: 10px; padding-top: 10px;box-shadow: 4px 4px 4px rgb(225, 182, 246);">NewsInfo - Magazine Corner</h2>
        <hr style="padding: 5px;">
        {% for book in all_books %}
        <div class="card mb-3" id="wrapper1" style="max-width: 700px;" style="background-color: snow;">
            <div class="row no-gutters" >
              <div class="col-md-4">
                <img src="/media/{{book.Image}}" class="card-img" alt="image">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="background-color: snow;">
                  <h5 class="card-title" style="color: #556B2F; margin-bottom: 5px;">{{book.BookTitle}}</h5>
                  <p class="card-text"><small class="text-muted"> Author : {{book.Author}}</small></p>
                  <p class="card-text">{{book.BookDescription|safe|truncatechars:300}}</p>
                  <a href="/media/{{book.BookFile}}" class="btn btn-light" style="color: snow; background-color: rgb(157, 94, 189); font-weight: 500;">Download </a>
                  <!-- <button type="submit" role="button" class="btn btn-light" style="color: snow; background-color: rgb(157, 94, 189); font-weight: 500;">Submit</button> -->

                </div>
              </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <style>
    
        #abc {
            color: rgb(17, 161, 218);
            font-family: "Georgia";
            font-style: italic;
        }

        #abc1 {
            color: rgb(17, 161, 218);
            font-family: "Georgia";
            font-style: italic;
        }

        .img-fluid {
            max-width: 110%;
            height: 600px;
        }
    </style>

<style>
.no-gutters>.col, .no-gutters>
[class*=col-] {
    background-color: snow;
    border: 0px rgb(157, 94, 189) ; 
    outline-style: outset; 
    outline-color: rgb(157, 94, 189); 
}

</style>

{% endblock body %}
