{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %}

    <div class="container my-4" id="wrapper3" style="color: green; height: auto !important;">
    <h2 style="color: rgb(157, 94, 189);">
        <span style="box-shadow: 3px 3px 3px rgb(225, 182, 246);">Contact NewsInfo Admin:</span>
    </h2>
    
    <form method="POST" action="/contact/" >
    {% csrf_token %}

        <div class="form-group">
          <label for="name" style="color: rgb(157, 94, 189);">Name :</label>
          <input type="text" style="width: -webkit-fill-available; box-shadow: 4px 4px 4px rgb(225, 182, 246);" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter Name">

        </div>
        <div class="form-group">
          <label for="email" style="color: rgb(157, 94, 189);">Email address :</label>
          <input type="email" style="width: -webkit-fill-available; box-shadow: 4px 4px 4px rgb(225, 182, 246);" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email">
          <small id="emailHelp" class="form-text text-muted" style="color: green;"> We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="phone" style="color: rgb(157, 94, 189);">Phone Number :</label>
          <input type="phone" style="width: -webkit-fill-available; box-shadow: 4px 4px 4px rgb(225, 182, 246);" class="form-control" id="phone" name="phone" aria-describedby="phone" placeholder="Enter Phone No.">
        </div>
        <div class="form-group">
          <label for="content" style="color: rgb(157, 94, 189);"> How we may help you : </label>
            <textarea class="form-control" style="width: -webkit-fill-available; box-shadow: 4px 4px 4px rgb(225, 182, 246);" name="content" id="content" cols="30" rows="5" ></textarea>
        </div>
      <button type="submit" role="button" class="btn btn-light" style="color: snow; background-color: rgb(157, 94, 189); font-weight: 500;">Submit</button>
    </form>
   </div>

{% endblock body %}
