{% extends 'base.html' %}
{% load extras %}
{% block title %} Home {% endblock title %}

{% block body %}

    <div class="container my-3 mx-10" id="wrapper3">

        <div class="jumbotron text-white"
            style=" margin-top: 10px; border:0px rgb(157, 94, 189) ; outline-style: outset; outline-color: rgb(157, 94, 189) ; background-color: snow ; box-shadow: 8px 8px 8px rgb(225, 182, 246); ">
            <div style=" color: black;">
            </div style="color: green;">
            <div>
                <h1 style="color: rgb(111, 100, 117); word-break : break-all" id="ab"><span
                        style="box-shadow: 4px 4px 4px rgb(225, 182, 246); border-radius: 4px;">Welcome to NewsInfo</span>
                </h1>
                <h1 style="color: rgb(111, 100, 117) ; word-break : break-all" id="ab1"><span
                        style="box-shadow: 4px 4px 4px rgb(225, 182, 246);border-radius: 4px;">Welcome to</span> </h1>
                <h1 style="color: rgb(111, 100, 117) ; word-break : break-all" id="ab2"><span
                        style="box-shadow: 4px 4px 4px rgb(225, 182, 246);border-radius: 4px;">NewsInfo</span></h1>
                <h1 style="color: rgb(157, 94, 189) ; font-style: italic;font-size: 40px;"><span
                        style="box-shadow: 4px 4px 4px rgb(225, 182, 246); border-radius: 4px;">{% if user.is_authenticated %}
                        {{request.user}} {% endif %}</span></h1>
            </div>


            <p class="lead"></p>
            <hr class="my-4">
            <p style="color:rgb(157, 94, 189) ;">THE MISSION OF NewsInfo IS TO ENCOUNTER WRONG NEWS OF THROUGH
                REFERENCES IN ENGLISH !

                MISSION, VISION
                VISION
                PTV shall be the leading news and public information channel in the country.
                MISSION
                We shall inform, inspire, and empower our people and nation through relevant, trustworthy, and world-class
                quality television programs and services.
                CORE VALUES
                Professionalism, Integrity, Commitment, and Dedication Teamwork, Innovation, and Service, Excellence Value
                for God, Country and People</p>

            <a class="btn btn-lg"
                style="color: snow; background-color: rgb(157, 94, 189); box-shadow: 6px 6px 6px rgb(225, 182, 246);"
                href="/blog" role="button">News Articles !</a>
        </div>
        <!-- <button type="button" class="btn btn-outline-warning">Warning</button> -->

        <div class="container" id="wrapper2">
            <a name="topic"></a>
            <h2 style="color: rgb(157, 94, 189); "><span style="box-shadow: 4px 4px 4px rgb(225, 182, 246);">TOPICS :</span>
            </h2>

            {% for post in subtopicsLis1%}
            {% if post %}
            <hr>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 h-md-250 position-relative"
                style=" box-shadow: 10px 10px 10px rgb(225, 182, 246); border:0px snow ; outline-style: outset; outline-color: rgb(157, 94, 189); background-color: snow; color: snow; ">
                <div class="col p-4 d-flex flex-column position-static">
                    <h4><strong class="d-inline-block mb-2" style="color:rgb(157, 94, 189);">{{post|underscore}}</strong>
                    </h4>
                    <!-- <h3 class="mb-0">{{post|underscore}}</h3> -->
                    <!-- <div class="mb-1 text-muted">Nov 12</div>  -->
                    <!-- <p class="card-text mb-auto">this is a wider card </p>  -->
                    <a href="/topic_page/{{post}}/" style="color:#556B2F;" class="stretched-link">Go to Topic!</a>
                    <!-- <a class="btn btn-success btn-lg" href="/topic_page/{{post}}/" role="button">Go to Topic!</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>

    </div>

{% endblock body %}
