{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}

{% block body %}
    {% if all_Post|length < 1%}
    <div class="container my-3" id="wrapper3">
        <h4>NO SEARCH RESULTS</h4>
        <p>Your search query - <b>{{query}}</b> - did not match any documents...</p>
        <p>Please try other instead
            Suggestions:
            <u1>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </u1>
        </p>

    </div>
    {% else %}
    <div class="container my-3" id="wrapper3">
        <h2><span style="color: rgb(157, 94, 189); box-shadow: 3px 3px 3px rgb(225, 182, 246);  ">Search results:</span></h2>
        {% for post in all_Post%}
               
        <div class="row no-gutters border rounded overflow-hidden flex-md-row my-3 h-md-250 position-relative"
            style=" box-shadow: 9px 9px 9px rgb(225, 182, 246);  border:0px rgb(157, 94, 189) ; outline-style: outset; outline-color: rgb(157, 94, 189); background-color: snow ; ">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2" style="color:indigo	;">Article by {{post.author}}</strong>
                <h3 class="mb-0" style="color:rgb(157, 94, 189);">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.datetime}}</div>
                <p class="card-text mb-auto" style="color: gray;">{{post.brief| truncatechars:450 | safe}} </p>
                <div class="my-1"><a href="/blog/{{post.slug}}/" role="button" class="btn btn-light" style=" box-shadow: 4px 4px 4px rgb(225, 182, 246); border-radius: 4px; color: snow; background-color: rgb(157, 94, 189); font-weight: 500;">Continue reading</a>
                </div>
    
            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock body %}
