{% extends 'base.html' %}

{% block title %} BlogPost {% endblock title %}

{% block body %}

{% load humanize %}
{% load extras %}
{% if post.content %}

      
    <!-- content heading  -->
    <div style=" height: auto !important; " id="wrapper3">
        <h2 class="blog-post-title" id="main-ow"><span style="box-shadow: 3px 3px 3px rgb(225, 182, 246);">{{post.title}}</span></h2>
        <p class="blog-post-meta"><span style="color: #808080;">{{post.timeStamp}}</span> <a
                href="/about">{{post.author}}</a>
        </p>

        <!-- actual content  -->
        <div style="padding-top: 10px;padding-bottom: 10px;" id="actual">
            <p> {{post.content | safe }}</p>
        </div>
        

        <!-- comments section  -->
        <div class="container" id='comment'>
            <h2 style="color: rgb(157, 94, 189);padding-top:20px"><span style="box-shadow: 4px 4px 4px rgb(225, 182, 246);">COMMENTS ({{comments.count}}):</span></h2>
            {% if user.is_authenticated %}
            <form action="/blog/postComment" method="post">
                {% csrf_token %}
                <input type="hidden" name="postSno" value="{{post.sno}}">
                <div class="form-group">
                    <label for="comment" style="color:#556B2F;">Post Comment :</label>
                    <input type="text" class="form-control" style="color:#556B2F;" name="comment"
                        placeholder="enter comment here" id="commentForm">

                </div>
                <input type="hidden" name="postSno" value="{{post.sno}}">
                <button type="submit" role="button" class="btn btn-outline-success" >Submit</button>

            </form>
            {% else %}
            <p style="font-style: italic; color: red;">Please login to post a comment!
            </p>
            {% endif %}

            {% for comment in comments %}
            <div class="row my-3 mx-0 " id="comment111">
                <div class="col-md-0" style="color:rgb(157, 94, 189); padding-left: 10px; padding-top: 10px; ">
                    <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col-md-11 mx-0" style="margin-bottom: 8px;">
                    <b
                        style="color: rgb(157, 94, 189);box-shadow: 1px 1px 1px rgb(225, 182, 246); padding-right: 6px; font-weight: 900; font-style: italic; font-size: 25px; ">{{comment.user.username}}</b>
                    <span class="badge badge-secondary"
                        style="font-size: 14px; box-shadow: 2px 2px 2px rgb(225, 182, 246); padding: 4px; color:snow; background-color: rgb(157, 94, 189);">{{comment.timestamp| naturaltime}}</span>
                    <div style="padding-top:2px; padding-bottom:6px">{{comment.comment}}</div>
                    <div class="reply mx-0">
                        {% if user.is_authenticated %}
                        <p>
                            <button class="btn btn-sm btn-outline-success" type="button" data-toggle="collapse"
                                data-target="#replyBox{{comment.sno}}" aria-expanded="false"
                                aria-controls="replyBox{{comment.sno}}">
                                Reply
                            </button>

                        </p>


                        <div class="collapse" id="replyBox{{comment.sno}}">
                            <div class="card card-body my-2" style="box-shadow: 4px 4px 4px rgb(225, 182, 246);">
                                <form action="/blog/postComment" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="postSno" value="{{post.sno}}">
                                    <div class="form-group">
                                        <label for="comment" style="color :rgb(157, 94, 189)" >Post a Reply :</label>
                                        <input type="text" class="form-control" name="comment"
                                            placeholder="enter comment here" style="box-shadow: 3px 3px 3px rgb(225, 182, 246);">
                                        <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                    </div>
                                    <input type="hidden" name="postSno" value="{{post.sno}}">
                                    <button type="submit" class="btn btn-sm btn-success">Submit</button>
                                </form>
                            </div>
                        </div>
                        {% else%}
                        <p>
                            <button class="btn btn-sm btn-success" type="button" data-toggle="collapse"
                                data-target="#replyBox{{comment.sno}}" aria-expanded="false"
                                aria-controls="replyBox{{comment.sno}}" disabled>
                                Login to Reply
                            </button>

                        </p>
                        {% endif %}
                        <div class="replies mx-2 mt-3">
                            {% for reply in replyDict|get_val:comment.sno %}
                            <div class="row" style="box-shadow: 4px 4px 4px rgb(225, 182, 246);">
                                <div class="col-md-0 my-2" style="color: rgb(157, 94, 189); padding-left: 4px;">
                                    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11" style="padding-top: 3px;">
                                    <b
                                        style="color: rgb(157, 94, 189); box-shadow: 1px 1px 1px rgb(225, 182, 246); padding-right: 5px;font-weight: 900; font-style: italic; font-size:20px;">{{reply.user.username}}</b>
                                    <span class="badge badge-secondary"
                                        style="font-size: 13px; padding: 3px; color:snow; box-shadow: 2px 2px 2px rgb(225, 182, 246); background-color: rgb(157, 94, 189);">{{reply.timestamp| naturaltime}}</span>
                                    <div style="padding-top: 3px; padding-bottom: 3px; color:#808080;">
                                        {{reply.comment}}</div>
                                </div>
                            </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
    <style>
        .row {
            border: 0.5px solid rgb(157, 94, 189);
            border-radius: 6px;
            padding: 3px;
            margin-bottom: 10px;
        }
        @media only screen and (min-width: 700px) {
                #actual {
                    border: 0.5px solid rgb(157, 94, 189);
                    padding: 5px;
                    border-radius: 3px;
                    padding: 20px;
                    
                    
                    
                }
            }
            @media only screen and (min-width: 600px) {
                #actual {
                    border: 0.5px solid rgb(157, 94, 189);
                    padding: 5px;
                    border-radius: 3px;
                    box-shadow: 4px 4px 4px rgb(225, 182, 246);
                    
                    
                }
            }
            @media only screen and (min-width: 300px) {
                #comment {
                    margin: 0px;
                    padding:0px;
                    
                }
            }
            @media only screen and (min-width: 400px) {
                #comment111 {
                box-shadow: 4px 4px 4px rgb(225, 182, 246)

                }
            }
            @media only screen and (min-width: 319px) {
                #commentForm {
                    width: 94%;
                    
                }
            }
            @media only screen and (min-width: 900px) {
                #commentForm {
                    width: 96%;
                    
                }
            }
            
    </style>

{% endif %}

{% endblock body %}
